      
<!DOCTYPE html>
<html lang="en">

         <!-- Header -->
        <header id="headerwrap" class="backstretched fullheight agency-slider backstretch-overlay-alt">
            <div class="container vertical-center">
                
                <div class="intro-text vertical-center text-left smoothie">
                    <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">Bienvenue sur mon blog</div>
                    <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">La perséverance est <span class="rotate">mère de réussite, la clé du succès, plus forte que le talent</span></div>
                    <a href="#welcome" class="btn btn-primary btn-white mt30 page-scroll" data-wow-delay="0.6s">En savoir plus</a>
                </div>
            </div>
        </header>